/* Variáveis e Classes Universais */

:root {
    --_cor-bg-amarelo: #F9FEE5;
    --_cor-texto: #232323;
    --_cor-paleta-azul: #0673FA;
    --_fonte-texto-corrido: 'deutschlander-regular';
    --_fonte-subtitulo: 'moche-bold';
}

@font-face {
    font-family: 'deutschlander-regular';
    src: url('./src/fonts/deutschlander/deutschlander-webfont.woff2') format('woff2'),
         url('./src/fonts/deutschlander/deutschlander-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'moche-bold';
    src: url('./src/fonts/moche/moche-bold-webfont.woff2') format('woff2'),
         url('./src/fonts/moche/moche-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.pai {
    display: flex;
}

.texto-corrido {
    font-family: var(--_fonte-texto-corrido);
}

.subtitulo {
    font-family: var(--_fonte-subtitulo);
}

/* HTML */

body {
    background: var(--_cor-bg-amarelo);
    height: 100vh;
}

.navbar {
    height: 118px;
    gap: 500px;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #000;
}

#logo__principal {
    height: 77px;
}

.item__menu {
    text-decoration: none;
    color: var(--_cor-texto);
    font-size: 64px;
    text-transform: uppercase;
    margin-left: 16px;
}

.item__menu:hover {
    color: var(--_cor-paleta-azul);
}

main {
    height: 760px;
}

main img {
    height: 564px;
    width: 580px;
}