@import '../abstract/variaveis';

footer {
    @include centralizaXY;
    background-color: $cor-paleta-azul;
    
    p {
        color: white;
        font-size: 2rem;
        margin: 0px;
        padding: .5em;
        font-weight: bold;
    }
}

