@import '../abstract/variaveis';

header {
    height: 45em;

    #main__content {
        padding: 5em;
        align-items: center;
        
        img {
            height: 35em;
            width: auto;
        }

        #main__box {
            height: 15em;
            width: 40%;
            border: 2px solid #000;
            border-radius: 10em 0 0 10em;
            text-align: end;
            position: absolute;
            right: 0;

            #main__inner_box {
                flex-direction: column;
                padding: 2em 1em 2em 0;

                h1 {
                    font-weight: lighter;
                    font-size: 36px;
                    letter-spacing: -1px;
                    margin: 0px;
                }
    
                h2 {
                    font-size: 3.5em;
                    margin: 0px;

                    & strong {
                        color: $cor-paleta-azul;
                    }
                }
            }
        }
    }
}

article {
    width: 100%;
}