@import '../abstract/variaveis';

main {
    height: 760px;
    
    #main__content {
        height: 760px;
        justify-content: space-between;
        align-items: center;

        img {
            height: 564px;
            width: 580px;
            margin: 115px 0 0 80px;
        }

        #main__box {
            height: 240px;
            width: 40%;
            border: 2px solid #000;
            border-radius: 175px 0 0 175px;
            
            #main__inner_box {
                flex-direction: column;
                text-align: end;
                position: relative;
                top: 25%;
                right: 1em;

                h1 {
                    font-weight: lighter;
                    font-size: 2em;
                    letter-spacing: -1px;
                    margin: 0px;
                }
    
                h2 {
                    font-size: 3em;
                    margin: 0px;

                    & strong {
                        color: $cor-paleta-azul;
                    }
                }

                p {
                    display: none;
                }
            }
        }
    }
}

// fazer um media query pra atributos comuns entre as resoluções mobile e tablet


// Dispositivos Móveis
@media (max-width: 480px) {
    //
}

// Tablets
@media (min-width: 481px) and (max-width: 768px) {
    main {
        height: 1440px;
        
        #main__content {
            flex-direction: column;
    
            img {
                justify-content: center;
                margin: 3em 0 0 0;
            }
    
            #main__box {
                border-style: none;
                border-radius: 0;
                margin-top: 6rem;
                width: 100%;
                justify-content: center;
                background-color: $cor-paleta-amarelo;

                #main__inner_box {
                    justify-content: center;
                    
                    h1 {
                        text-align: center;
                    }
    
                    h2 {
                        text-align: center;
                    }
    
                    p {
                        font-size: 3rem;
                        text-align: center;
                        display: block;
                    }
                }
            }
        }
    }
}
