@import '../abstract/variaveis';

main {
    height: 760px;

    #main__content {
        width: 1466px;
        height: 577px;

        img {
            height: 564px;
            width: 580px;
            margin: 115px 0 0 80px;
        }

        #main__box {
            height: 240px;
            width: 40%;
            border: 2px solid #000;
            border-radius: 175px 0 0 175px;
            text-align: end;
            position: absolute;
            right: 0px;
            top: 400px;

            #main__inner_box {
                flex-direction: column;
                justify-content: center;
                position: absolute;
                top: 56px;
                left: 111px;

                h1 {
                    font-weight: lighter;
                    font-size: 36px;
                    letter-spacing: -1px;
                    margin: 0px;
                }
    
                h2 {
                    font-size: 56px;
                    margin: 0px;

                    & strong {
                        color: $cor-paleta-azul;
                    }
                }
            }
        }
    }
}

// Dispositivos Móveis
@media (max-width: 480px) {
    // body {

    // }  
}

// Tablets
@media (min-width: 481px) and (max-width: 768px) {
    // body {

    // }
}

@media (min-width: 769px) {
    .main__content {
        flex-direction: column;
    }
}