@import '../abstract/variaveis';

.navbar {
    height: 120px;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #000;

    #logo__principal {
        height: 80px;
    }

    .item__menu {
        color: $cor-texto;
        font-size: 4rem;
        text-transform: uppercase;
        text-decoration: none;
        margin-left: 1rem;
    
        &:hover {
            color: $cor-paleta-azul;
        }
    }
}

// Tablets
@media (min-width: 601px) and (max-width: 840px) {
    body {
        li {
            display: none;
        }
    
        li:last-child {
            display: flex;
        }
    }
}

// Dispositivos Móveis
@media (max-width: 600px) {
    body {
        overflow-x: none;

        .navbar {
            height: 2fr;
    
            .lista__menu {
                display: none;
            }
        }
    }    
}