@import '../abstract/variaveis';

nav {
    @include divisorPadrao;
    height: 8em;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 2px 10px #bdbdbd;
    
    #logo__principal {
        height: 5em;
    }

    .lista__menu {
        gap: 1.5em;
        
        .item__menu {
            color: $cor-texto;
            font-size: 2.5rem;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: bold;
        
            &:hover {
                color: $cor-paleta-azul;
            }
        }
    }
}

// Tablets
@media (min-width: 601px) and (max-width: 840px) {
    nav {
        li {
            display: none;
        }
    
        li:last-child {
            display: flex;
        }
    }
}

// Dispositivos Móveis
@media (max-width: 600px) {
    body {
        overflow-x: none;

        nav {
            height: 2fr;
    
            .lista__menu {
                display: none;
            }
        }
    }    
}