@import '../abstract/variaveis';

#section__links_externos {
    @include centralizaXY;
    height: 284px;
    flex-direction: column;

    h1 {
        font-size: 57px;
        font-weight: 100;
        margin: 0 0 16px 0;
    }

    #section__links {
        gap: 32px;
    }

}

@media (max-width: 1205px) {
    #section__links_externos {
        
        h1 {
            font-size: 3rem;
        }
    }
    
    
}