@import '../abstract/variaveis';

#section__projetos {
    flex-direction: column;
    align-items: center;

    #section__projetos_tags {
        margin-bottom: 1.5em;

        img {
            margin: 0 -1em 0 -1em;
            width: 150px;
            height: 150px;
        }
    }

    #section__projetos_banners {
        @include autoHeight;
        flex-direction: column;
        align-items: center;
        padding: 3em 0 3em 0;
        
        // Pensar em como alterar cor da variável de acordo com o projeto clicado.
        border: 3px $cor-paleta-verde solid;
        border-radius: 2em;

        h1 {
            @include semMargem;
            font-size: 4rem;
            color: $cor-paleta-verde;
        }

        h2 {
            @include semMargem;
            font-size: 2.5rem;
            letter-spacing: -1px;
            font-weight: lighter;
        }

        img {
            width: 80%;
            border-radius: 2em;
            margin: 3em 0 2em 0;
        }
        
        span {
            @include centralizaXY;
            background-color: $cor-paleta-verde;
            text-align: center;
            width: 40%;
            height: 3em;
            border-radius: 0.5rem;
            font-size: 1.25rem;
            cursor: pointer;
            
            a {
                text-decoration: none;
                color: white;
                font-weight: bolder;
            }
        }
    }
}

@media (max-width: 1205px) {
    #section__projetos {
        #section__projetos_banners > h1, h2 {
                text-align: center;
                max-width: 80%; 
        }

        #section__projetos_tags {
            @include autoHeight;
            justify-content: center;
            max-width: 80%;
        }
    }
}

@media (max-width: 640px) {
    #section__projetos {
        #section__projetos_tags {
            img {
                width: 30%;
            }
        }
    }
}

@media (max-width: 600px) {
    #section__projetos {
        #section__projetos_banners {
            padding: 0 0 3em 0;
            border: 0;
            background-color: $cor-bg-card;
            box-shadow: 1px 1px 10px #bdbdbd;
            
                img {
                    order: -1;
                    margin: 0;
                    width: 100%;
                    border-radius: 1.9em 1.9em 0 0;
                }

                h1 {
                    font-size: 2rem;
                    margin: .5em 0 0 0;
                }
                
                h2 {
                    font-size: 1.25rem;
                    margin: 0 0 1.5em 0;
                }
                
                span {
                    padding: 0.5em;
                    width: 80%;
                    height: 1em;
                    border-radius: 0.5rem;
                    //margin-left: .5em;

                    a {
                        text-decoration: none;
                        color: white;
                        font-weight: bolder;
                        font-size: 1rem;
                    }
                }
                
            #section__projetos_tags {
                 margin: 0 0 3em 0;
            }
        }
            
    }
    
}

@media (max-width: 500px) {
    span {
        padding: 0.5em;
        width: 60%;
        height: 3em;
        border-radius: 0.5rem;

        a {
            text-decoration: none;
            color: black;
            font-weight: bolder;
            font-size: 1.5rem;
        }
    }
}