@import '../../abstract/variaveis';

main {
    padding: 6em 0;
    justify-content: space-between;
    align-items: center;

    img {
        height: 564px;
        width: auto;
        margin-left: 5em;
    }

    #main__box {
        border: {
            top: 2px;
            bottom: 2px;
            left: 2px;
            right: 0px;
        }
        border-color: #000;
        border-style: solid;
        border-radius: 175px 0 0 175px;
        padding: 2em 2em 2em 3em;
        
        #main__inner_box {
            justify-content: center;
            flex-direction: column;
            text-align: end;

            h1 {
                @include semMargem;
                font-weight: lighter;
                font-size: 2rem;
                letter-spacing: -1px;
            }

            h2 {
                @include semMargem;
                font-size: 2rem;

                & strong {
                    color: $cor-paleta-azul;
                }
            }

            p {
                display: none;
            }
        }
    }
}

article {
    width: 100%;
}

// Dispositivos Móveis
@media (max-width: 1205px) {  
    main {
        flex-direction: column;
        padding: 3em 0;
        gap: 3rem;
    
        img {
            @include autoHeight;
            @include semMargem;
        }
    
        #main__box {
            border-style: none;
            border-radius: 0;
            padding: 1.5em;
            justify-content: center;
            background-color: $cor-paleta-amarelo;

            #main__inner_box {
                @include semMargem;
                padding: 3em 0 3em 0;

                h1 {
                    font-size: 3rem;
                }

                h2 {
                    font-size: 4rem;
                }
                
                p {
                    font-size: 2.5rem;
                    display: block;
                    margin-bottom: 0;    
                }
            }
                
            #main__inner_box > h1, h2, p {
                text-align: center;
            }
        }
    }
        
    article {
        img {
            display: none;
        }
    }   
}
    
@media (max-width: 640px) {    
    main {
        padding: 3em 0;

        #main__box {
            #main__inner_box {
                h1 {
                    font-size: 1.9rem;
                }
    
                h2 {
                    font-size: 1.75rem;
                }

                p {
                    font-size: 2rem;
                    display: block;
                }
            }

            #main__inner_box > h1, h2, p {
                text-align: center;
            }
        }
    }
}