@import '../../abstract/variaveis';

#section__institucional {
    padding: 3em 2em;
    align-items: center;

    #section__institucional_texto {

        h3 {
            @include semMargem;
            font-size: 3.125rem;
            font-weight: 100;
        }
    
        p {
            @include semMargem;
            font-size: 2.25rem;
        }
        
        & #valores {
            margin-top: 12px;
        }
    }
}

@media (max-width: 1205px) {
        #section__institucional {
            padding: 0 2em 3em 2em;
            flex-direction: column;

            img {
                width: 80%;
                height: auto;
            }
        }
}

@media (max-width: 640px) {
    #section__institucional {
        padding-bottom: 0;
        gap: 1.5em;

        #section__institucional_texto { 
            padding: 0;
            
            #valores {
                margin-top: 1em;
            }
        }

        #section__institucional_texto > h3 {
            font-size: 2.5rem;
        }

        #section__institucional_texto > p {
            font-size: 1.75rem;
        }
    }
}
