@import '../../abstract/variaveis';

#section__institucional {
    margin: 3em 2em 3em 2em;
    align-items: center;

    #section__institucional_texto {
        h1 {
            @include semMargem;
            font-size: 3.125rem;
            font-weight: 100;
        }
    
        p {
            @include semMargem;
            font-size: 2.25rem;
        }
        
        & #valores {
            margin-top: 12px;
        }
    }
}

@media (max-width: 1205px) {
        #section__institucional {
            flex-direction: column;

            #section__institucional_texto {
                @include autoHeight;
            }

            img {
                width: 60%;
                height: auto;
            }
        }
}

@media (max-width: 640px) {
    #section__institucional {
        img {
            width: 90%;
        }

        #section__institucional_texto {
            margin-bottom: 1em;
            
            #valores {
                margin-top: 1em;
            }
        }

        #section__institucional_texto > h1 {
            font-size: 2.5rem;
        }

        #section__institucional_texto > p {
            font-size: 1.75rem;
            text-align: justify;
        }
    }
}
