/* Variáveis e Métodos */
@import './variaveis';

/* Webfonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500&display=swap');

@font-face {
    font-family: 'modak-regular';
    src: url('../src/fonts/modak/modak-regular-webfont.woff2') format('woff2'),
         url('../src/fonts/modak/modak-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'worksans-italic';
    src: url('../src/fonts/worksans/worksans-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('../src/fonts/worksans/worksans-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'worksans-regular';
    src: url('../src/fonts/worksans/worksans-variablefont_wght-webfont.woff2') format('woff2'),
         url('../src/fonts/worksans/worksans-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Classes Base */
.pai {
    display: flex;
}

.titulo {
    font-family: $fonte-titulo;
    font-weight: 100;
}

.subtitulo {
    font-family: $fonte-subtitulo;
}

.subtitulo-normal {
    font-family: $fonte-subtitulo-normal;
}

.texto-corrido {
    font-family: $fonte-texto-corrido;
}

.bold {
    font-weight: bold;
}

.toggle {
    display: none !important;
    transition: 500ms;
}

/* HTML */
body {
    background: $cor-bg-amarelo;
    overflow-x: none;
}
