$cor-bg-amarelo: #F9FEE5;
$cor-texto: #232323;
$cor-paleta-azul: #0673FA;
$cor-paleta-verde: #3ab509;
$cor-paleta-vermelho: #df3427;
$cor-paleta-roxo: #aa21e5;
$cor-paleta-amarelo: #f3a712;
$fonte-titulo: 'modak-regular';
$fonte-subtitulo: 'worksans-italic';
$fonte-subtitulo-normal: 'worksans-regular';
$fonte-texto-corrido: 'deutschlander-regular';

@mixin centralizaXY {
    align-items: center;
    justify-content: center;
}

@mixin semMargem {
    margin: 0;
}

@mixin autoHeight {
    height: auto;
    max-width: 80%;
}