@charset "UTF-8";
/* Variáveis e Métodos */
/* Webfonts */
@font-face {
  font-family: "deutschlander-regular";
  src: url("../src/fonts/deutschlander/deutschlander-webfont.woff2") format("woff2"), url("../src/fonts/deutschlander/deutschlander-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "modak-regular";
  src: url("../src/fonts/modak/modak-regular-webfont.woff2") format("woff2"), url("../src/fonts/modak/modak-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "worksans-italic";
  src: url("../src/fonts/worksans/worksans-italic-variablefont_wght-webfont.woff2") format("woff2"), url("../src/fonts/worksans/worksans-italic-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "worksans-regular";
  src: url("../src/fonts/worksans/worksans-variablefont_wght-webfont.woff2") format("woff2"), url("../src/fonts/worksans/worksans-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Classes Base */
.pai {
  display: flex;
}

.titulo {
  font-family: "modak-regular";
  font-weight: 100;
}

.subtitulo {
  font-family: "worksans-italic";
}

.subtitulo-normal {
  font-family: "worksans-regular";
}

.texto-corrido {
  font-family: "deutschlander-regular";
}

/* HTML */
body {
  background: #F9FEE5;
  height: 100vh;
  overflow-x: hidden;
}

.navbar {
  height: 120px;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #000;
}
.navbar #logo__principal {
  height: 80px;
}
.navbar .item__menu {
  color: #232323;
  font-size: 4rem;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 1rem;
}
.navbar .item__menu:hover {
  color: #0673FA;
}

@media (min-width: 601px) and (max-width: 840px) {
  body li {
    display: none;
  }
  body li:last-child {
    display: flex;
  }
}
@media (max-width: 600px) {
  body {
    overflow-x: none;
  }
  body .navbar {
    height: 2fr;
  }
  body .navbar .lista__menu {
    display: none;
  }
}
main #main__content {
  margin: 6em 0 6em 0;
  justify-content: space-between;
  align-items: center;
}
main #main__content img {
  height: 564px;
  width: auto;
  margin-left: 5em;
}
main #main__content #main__box {
  width: 40%;
  border-top: 2px;
  border-bottom: 2px;
  border-left: 2px;
  border-right: 0px;
  border-color: #000;
  border-style: solid;
  border-radius: 175px 0 0 175px;
}
main #main__content #main__box #main__inner_box {
  flex-direction: column;
  text-align: end;
  margin: 2em 0 2em 0;
  position: relative;
  left: 15%;
}
main #main__content #main__box #main__inner_box h1 {
  margin: 0;
  font-weight: lighter;
  font-size: 2rem;
  letter-spacing: -1px;
}
main #main__content #main__box #main__inner_box h2 {
  margin: 0;
  font-size: 3rem;
}
main #main__content #main__box #main__inner_box h2 strong {
  color: #0673FA;
}
main #main__content #main__box #main__inner_box p {
  display: none;
}

@media (max-width: 1205px) {
  main #main__content {
    flex-direction: column;
    margin-bottom: 6em;
  }
  main #main__content img {
    height: auto;
    max-width: 80%;
    margin: 0;
  }
  main #main__content #main__box {
    border-style: none;
    border-radius: 0;
    margin-top: 6em;
    width: 100%;
    justify-content: center;
    background-color: #f3a712;
  }
  main #main__content #main__box #main__inner_box {
    height: auto;
    max-width: 80%;
    margin: 0;
    position: initial;
    padding: 3em 0 3em 0;
  }
  main #main__content #main__box #main__inner_box p {
    font-size: 3rem;
    display: block;
    margin-bottom: 0;
  }
  main #main__content #main__box #main__inner_box > h1, main #main__content #main__box h2, main #main__content #main__box p {
    text-align: center;
  }
  article img {
    display: none;
  }
}
@media (max-width: 640px) {
  main #main__content #main__box #main__inner_box h1 {
    font-size: 1.5rem;
  }
  main #main__content #main__box #main__inner_box h2 {
    font-size: 2.5rem;
  }
  main #main__content #main__box #main__inner_box p {
    font-size: 2.5rem;
    display: block;
  }
  main #main__content #main__box #main__inner_box > h1, main #main__content #main__box h2, main #main__content #main__box p {
    text-align: center;
  }
}
#section__institucional {
  align-items: center;
  justify-content: center;
  height: 655px;
  gap: 95px;
}
#section__institucional #section__institucional_texto {
  width: 560px;
  height: 510px;
  position: relative;
  top: 30px;
  left: 30px;
}
#section__institucional #section__institucional_texto h1 {
  margin: 0;
  font-size: 3.125rem;
  font-weight: 100;
}
#section__institucional #section__institucional_texto p {
  margin: 0;
  font-size: 2.625rem;
}
#section__institucional #section__institucional_texto #valores {
  margin-top: 12px;
}
#section__institucional img {
  width: 600px;
  height: 511px;
}

@media (max-width: 1205px) {
  #section__institucional {
    flex-direction: column;
  }
  #section__institucional #section__institucional_texto {
    position: initial;
    height: auto;
    max-width: 80%;
  }
  #section__institucional img {
    position: relative;
    bottom: 5em;
    height: auto;
    max-width: 80%;
  }
}
#section__projetos {
  flex-direction: column;
  align-items: center;
}
#section__projetos #section__projetos_tags {
  margin-bottom: 64px;
}
#section__projetos #section__projetos_tags img {
  width: 150px;
  height: 150px;
}
#section__projetos #section__projetos_banners {
  width: 955px;
  height: 676px;
  flex-direction: column;
  align-items: center;
  border: 2px #3ab509 solid;
  border-radius: 24px;
}
#section__projetos #section__projetos_banners h1 {
  font-size: 64px;
  margin-bottom: 0;
  color: #3ab509;
}
#section__projetos #section__projetos_banners h2 {
  font-size: 42px;
  margin: 8px 0 40px 0;
  letter-spacing: -1px;
  font-weight: lighter;
}
#section__projetos #section__projetos_banners img {
  width: 80%;
  border-radius: 16px;
  margin-bottom: 18px;
}
#section__projetos #section__projetos_banners span {
  background-color: #3ab509;
  text-align: center;
  width: 70%;
  max-width: 50%;
  height: 48px;
  font-size: 1rem;
  font-weight: bold;
  line-height: 50%;
  border-radius: 6px;
  margin-bottom: 36px;
}
#section__projetos #section__projetos_banners span a {
  text-decoration: none;
  color: #FFF;
  line-height: 36px;
}

@media (max-width: 1205px) {
  #section__projetos {
    margin-top: 10em;
  }
  #section__projetos #section__projetos_banners {
    position: relative;
    top: 50%;
    height: auto;
    max-width: 80%;
  }
  #section__projetos #section__projetos_banners h1 {
    text-align: center;
    max-width: 80%;
  }
  #section__projetos #section__projetos_banners h2 {
    text-align: center;
    max-width: 80%;
  }
  #section__projetos #section__projetos_tags {
    height: auto;
    max-width: 80%;
    max-width: 80%;
  }
}
@media (max-width: 480px) {
  #section__projetos #section__projetos_banners h1 {
    font-size: 2rem;
  }
  #section__projetos #section__projetos_banners h2 {
    font-size: 2rem;
  }
  #section__projetos #section__projetos_banners span a {
    line-height: 1em;
    position: relative;
    top: 0.5em;
    font-weight: bold;
  }
  #section__projetos #section__projetos_tags {
    height: auto;
    max-width: 80%;
    margin: 1em 0 2em 0;
  }
  #section__projetos #section__projetos_tags img {
    height: auto;
    width: 4em;
  }
}
#section__links_externos {
  align-items: center;
  justify-content: center;
  height: 284px;
  flex-direction: column;
}
#section__links_externos h1 {
  font-size: 57px;
  font-weight: 100;
  margin: 0 0 16px 0;
}
#section__links_externos #section__links {
  gap: 32px;
}

@media (max-width: 1205px) {
  #section__links_externos h1 {
    font-size: 3rem;
  }
}
footer {
  align-items: center;
  justify-content: center;
  background-color: #0673FA;
  height: 80px;
}
footer p {
  color: white;
  font-size: 3.5rem;
  margin: 0px;
}

/* HTML */
article img {
  width: 100%;
}/*# sourceMappingURL=style.css.map */