@import './abstract/base';
@import './components/navbar';

/* HTML */

main {
    height: 760px;

    img {
        height: 564px;
        width: 580px;
    }

    h1 {
        font-weight: lighter;
    }
}

